.username__form,
.greeting {
  display: none;
  margin: 0;
  position: absolute;
  top: 400px;
}

.username__form input {
  font-size: 30px;
  width: 280px;
}
.username__form input::placeholder {
  color: rgba(225, 225, 225, 1);
  font-size: 30px;
}
.greeting {
  font-size: 40px;
}

.showing {
  display: block;
}
